@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MoonTime";
  src: url("/FontsFree-Net-MoonTime-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
